body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #635445;
}
/* Navbar */

nav ul {
    margin: 0;
    padding: 0;
    text-align:right;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ad{
    position: absolute;
    top: 50%;
    left:50%;
    bottom: -2%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 45px;
}


#branding {
    float: left;
    padding: 15px;
    padding-left:115px;
}

nav a {
    text-decoration: none;
    color: #635445;
    font-weight:bold;
}

nav li {
    display: inline;
    padding-right:115px;
}

/* Home */

#inseason{
    text-align: center;
    font-size: 38px;
}


#in-season1{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 30px;
    bottom:20%;
    left:20%;
}

#container{
    position:relative;
    display: flex;
}

.in-season{
    flex: 30%;
    padding: 20px;
}

.box{
    column-count: 2;
    padding: 30px;
}

.season-1{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    color: white;
    bottom: 66%;
    padding-left: 20px;

}
.season-2{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    color: white;
    bottom:22%;
    padding-left: 20px;
}
.season-3{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    color: white;
    bottom:66%;
    padding-left: 20px;
}
.season-4{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    color: white;
    bottom:22%;
    padding-left: 20px;
}

#pre-order{
    position: absolute;
    bottom:5%;
    left:20%;

}

.order-btn [type="submit"]{
    color: white;
    background-color: #94C348;
    font-weight:bold;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.order-btn [type="submit"]:hover{
    background-color:#7AA03B;
}

/* Login */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 15px;

}

footer p {
    font-size: 13px;
    margin: 0 0 5px 0;
    color:white;

}

footer a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.follow {
    margin-top: 20px;
}

.follow i {
    color : white;
    padding-right: 4px;
    cursor: pointer;
}

.install .row img {
    border-radius: 6px;

}

.install img {
    margin: 10px 0 15px 0;
}

.follow i:hover,
footer a:hover
{
    color: black;
}

.copyright {
    width: 100%;
    text-align: center;

}

.copyright p {
    color: white;
}

