body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #635445;
}

nav ul {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ad{
    position: absolute;
    top: 50%;
    left:50%;
    bottom: -2%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 45px;
}


#branding {
    float: left;
    padding: 15px;
    padding-left:115px;
}

nav a {
    text-decoration: none;
    color: #635445;
    font-weight:bold;
}

nav li {
    float: left;
    display: inline;
    padding-right:115px;
}

#inseason{
    text-align: center;
    font-size: 38px;
}


#in-season1{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 25px;
    bottom:50%;
    left:20%;
}

#container{
    position:relative;
    display: flex;
}

.in-season{
    flex: 30%;
}

.box{
    column-count: 2;
    padding: 30px;
}

.season{
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

